body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    /* border: 1px solid red; */
}

.welcome-message {
    width: 100%;
    padding: 40px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-message img {
    max-width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.welcome-message h1 {
    margin-top: 0;
}

.login-panel {
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    margin-bottom: 5px;
    font-weight: bold;
}

#loginForm input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#loginForm button {
    padding: 10px;
    font-size: 16px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}

#loginForm button:hover {
    background-color: #34495e;
}

.google-signin {
    background-color: #db4437;
}

.google-signin:hover {
    background-color: #c33d2e;
}

#loginForm p {
    text-align: center;
}

#loginForm a {
    color: #2c3e50;
    text-decoration: none;
}

#loginForm a:hover {
    text-decoration: underline;
}
